@charset "UTF-8";

/*
    Paleta de Cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

html, body {
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.400);

    transition: width 150ms, height 150ms;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/login-img.jpg) no-repeat;
    background-size: 500px;
    background-position: center right;
    height: 150px;
}

section#login > div#formulario {
    display: block;
}

div#formulario > h1 {
    text-align: center;
    font-size: 2em;
    padding: 5px;
}

div#formulario > h2 {
    text-align: center;
    font-size: 1.3em;
    margin: auto;
    margin-bottom: 15px;
    width: 90%;

}

div#formulario > p {
    text-align: center;
    margin: auto;
    width: 90%;
}

div.campo {
    width: 95%;
    height: 30px;
    background-color: #5f2c82;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

form > div > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    background-color: #49a09d;
    margin: auto;
    margin-top: 5px;
    width: 90%;
    height: 30px;
    border: 1px solid #326e6c;
    border-radius: 10px;
}

form > input[type=submit]:hover{
    background-color: #326e6c;
    border: 1px solid #49a09d;
}

form > a.botao {
    display: block;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color: black;
    width: 90%;
    height: 30px;
    margin: auto;
    margin-top: 5px;
    padding-top: 5px;
    border-radius: 10px;
    border: 1px solid #49a09d;
}

form > a > span.material-icons{
    font-size: 15px;
}

form > a:hover {
    background-color: #49a09d;
    border: 1px solid #326e6c;
}