@charset "UTF-8";

/*
    Paleta de Cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

html, body {
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.400);

    transition: width 150ms, height 150ms;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/login-img.jpg) no-repeat;
    background-size: 500px;
    background-position: center center;
    height: 180px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}